/*Common*/
*{
	box-sizing: border-box;
	font-family: 'sans serif';
}

#map {
        width: 960px;
        height:640px;
      }

.wrapper {
	width:960px;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}



/*Header*/

header{
	width:100%;
	height:100px;
	display:flex;
	flex-direction: column;	
}

.darkLine{
	width:100%;
	height:10px;
	background-color: rgb(14,46,71);
}

.lightLine{
	margin:0px;
	background:linear-gradient(to bottom, rgb(34,74,100),rgb(52,102,125));
	width:100%;
	height:100%;
	display:flex;
	flex-direction:row;
	justify-content: center;
	/*border-bottom: 2px solid white;*/
}

.logo{
	width:160px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/*border-bottom: 1px solid white;*/
}

.nav{
	width:480px;
	height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.signs{
	height:30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.tabs{
	height:30px;
	display: flex;
	flex-direction: row;
	align-content: center;
}

.sign{
	color:rgb(142,192,225);
	width:65px;
	background-color: rgb(14,46,71);
	border-radius:0px 0px 10px 10px ;
	text-align: center;
	line-height: 30px;
}

.none{
	display: none;
}

.tab{
	text-align: center;
	line-height: 30px;
	width:120px;
	border-radius: 7px 7px 0px 0px ;
	background-color: rgb(209,81,42);
	color:white;
}

.tabs .active{
	font-weight: bold;
	background-color: white;
	color: rgb(27,50,66);
}
/*Style Page1*/

main{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.page1 .leftCol{
	width:600px;
}
.page1 .rightCol{
	width:360px;
}

/*Short Search Form*/
.fastSearch{
	background-color: rgb(248,249,251);
	border-radius: 10px;
	padding:20px 15px;
	margin:10px 0px;
}
.fastSearch h2{
	color: rgb(27,50,66);	
}

.fastSearch form{
	padding:3px;
	display:flex;
	flex-direction: column;
}

.fastSearch form input{
	margin-bottom:10px;
	width:450px;
	height:36px;
	border-color:rgba(215,216,218,0.2);
	padding-left: 15px;
}

.fastSearch form>div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 36px;
}

.fastSearch .submit{
	margin-top: 10px;
	justify-content: flex-start;
}

.fastSearch label{
	color:grey;
}

.submit .subBut:hover{
	cursor:pointer;
}

.subBut{
	margin-left: 115px;
	border-radius: 5px;
	background-color: rgb(209,81,42);
	color:white;
	padding: 10px 15px;
	text-align: center;
	line-height: 15px;
	height: 35px;
}

a{
	text-decoration: none;
	margin-left: 20px
}

/*page3*/

.page3 .leftCol{
	width:260px;
}

.page3 .rightCol{
	width: 700px;
}

.page3 h2{
	color: rgb(27,50,66);	
}

.sideMenu{
	background-color: rgb(248,249,251);
	border-radius: 10px;
	padding:20px 15px;
	margin:10px 0px;
}

.page3 .leftCol{
	width:260px;
}

.page3 .rightCol{
	width: 690px;
	display:flex;
	flex-direction: column;
	background-color: rgb(248,249,251);
	border-radius: 10px;
	padding:20px 15px;
	margin:10px 0px;
}

.page3 .rightCol .navMenu{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 0px;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
}

.page3 .rightCol .browse .info{
	display:flex;
	flex-direction: row;
}
.page3 .rightCol .browse .info>div{
	
}
.page3 .rightCol .browse .info>div:not(:last-of-type):after{
	content:"|";
	padding:0px 10px;

}
.page3 h2{
	color: rgb(27,50,66);	
}


.sideMenu{
	background-color: rgb(248,249,251);
	border-radius: 10px;
	padding:20px 15px;
	margin:10px 0px;
}

.page3 .title{
	color: rgb(27,50,66);
	font-size: 28px;
	font-weight: bold;
	padding:20px 0px;
	border-bottom: 1px solid grey;
}

.page3 .currentPage{
	margin-right: 0px;
}
.page3 .browse .card{
	padding: 0px 10px;
	border-bottom: 1px solid grey;
}
.page3 .browse .card>div{
	padding: 5px 0px;
}
.page3 .browse .card:hover{
	background-color: rgba(153,247,255,0.2);
	border-bottom: 0px solid grey;
}

.page3 .browse .card .name{
	color:rgb(53,148,194);
	font-size: 22px;
	font-weight: bold;	
}

.page3 .browse .card .info .value{
	color:grey;
}

.page3 .filtMenu .filtValues{
	padding: 10px;
}

.page3 .filtCategory{
	background-color: white;
	border-radius: 7px;
	margin:10px 0px;
}

.page3 .filtCategory>div{
	padding:10px 20px;
}

.page3  .filtCaption{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.page3  .filtCaption .hideBtn{
	display: block;
	width:20px;
	height:20px;
	background-color: transparent;
	border-radius: 50%;
	overflow: hidden;
}

.page3  .filtCaption .hideBtn img{
	width:100%;
	height:100%;
}

.page3  .filtCaption .text{
	font-size:20px;
	font-weight: bold;
	color:rgb(56,102,128);
}

.page3  .filtValue {
	padding:5px 15px;
	color:rgb(105,193,231);
}

.page3  .resultCounter{
	color: lightgrey;
}

.page3 a{
	text-decoration: none;
	color:rgb(105,193,231);
}

.page3 .shortDetails{
	color:grey;
}

.page3 .card:hover .name{
	color:rgb(27,50,66);
}

.page3  .hide:not(.filtCaption){
	display: none;
}

.page3 .hide{
	background-color: rgb(238,242,251);
	border-radius: 7px;
}

.page3 .hide .text{
	color:rgb(105,193,231);
}

.page3 .hide .hideBtn img{
	transform: rotate(-90deg);
	background-color: rgb(238,242,251);
}

.page3 .prev:hover{
	cursor:pointer;
	color:blue;
}

.page3 .next:hover{
	cursor:pointer;
	color:blue;
}

.sort{
	display:none;
}
/*autocomplete*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 36px;
  right: 0;
  width: 450px;
}
.autocomplete-items div {
  padding-left: 15px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.autocomplete .wrong{
	background-color: rgba(255,174,201,0.5);
}